body {
    margin: 10;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    background-image: url(5641363.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}

h1 {
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
}

summary {
    font-size: 20px;
}

details {
    color: #fff;
    cursor: pointer;
}

.cript {
    background-color: rgba(128, 128, 128, 0.593);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 5px;
}

.form {
    font-size: 35px;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    margin-left: 65px;
    margin-top: 20px;

}

.form>div {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    .form {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .form>div {
        width: 50%;
        /* Each textarea takes up half of the container width */
    }
}



select {
    cursor: pointer;
}



#text,
.methods {
    height: 40px;
    width: 350px;

}

#key,
#deckey {
    height: 40px;
    width: 150px;
}

.btn {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-evenly;
}

button {
    width: 200px;
    font-size: 2rem;
    height: 50px;
    background-color: maroon;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(58, 33, 202, 0.566);
    font-size: 1rem;
}


.View {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /* Center the container horizontally */
}

.View>div {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    .View {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .View>div {
        width: 50%;
        /* Each textarea takes up half of the container width */
    }
}

#enc,
#dec {
    width: 70%;
    height: 45vh;
}

textarea {
    resize: none;
    font-size: 20px;
    padding: 10px;
    margin-left: 65px;
}

.info {
    display: flex;
    justify-content: space-around;
}

footer {
    text-align: center;
}

a {
    color: #fff;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(64, 13, 202);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: maroon;
}
